<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315470186175-2f0b6bije3pi73kpjck1h1rms1eijcrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315470186175-2f0b6bije3pi73kpjck1h1rms1eijcrp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315470186175-3i65pj7p31vnc41ji4m650s15e096lps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbAoKCYeO7lM6ZXnieaALHn_JOvhLNVM8</string>
	<key>GCM_SENDER_ID</key>
	<string>315470186175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guiathayde.myshopping</string>
	<key>PROJECT_ID</key>
	<string>shopping-list-395a5</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-list-395a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315470186175:ios:181d02f8704ed8f4dda80a</string>
</dict>
</plist>